node_modules
dist
dist-ssr
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
*.log

*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example

# Rust worker
server/target
